.main{
    padding: 30px;
    position: relative;
    background-color: #121212;
    min-height: 100vh;
}
.backBtn{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.pageHeader{
    font-size: 2em;
    font-weight: 500;
    margin-top: 30px;
}
.pagePara{
    opacity: 0.8;
}
.previewCardHolder{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-around;
    transition: all 0.3s;
}
.previewCardMain{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(255, 255, 255, 0.022);
    border-radius: 15px;
    padding-bottom: 5px;
    transition: all 0.3s;
}
.previewCardMain h1{
    text-align: center;
    font-size: 20px;
}
.previewCard{
    height: 200px;
    width: 260px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    gap: 5px;
}
.selectedCard{
    border: 5px solid #584ddb;
    box-sizing: border-box;
}
.sidebar{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sidebarDivs{
    display: flex;
    height: 15%;
    
    border-radius: 5px;
}
.mainPreview{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 5px;
   
}
.thinDiv{
    flex: 1;
    /* background-color: var(--color4); */
    border-radius: 5px;
}
.thiccDiv{
    flex: 5;
    /* background-color: var(--color3); */
    border-radius: 5px;
}

@media (max-width:500px) {
    .previewCard{
        height: 140px;
        width: 250px;
    }
}