.main {
    min-height: 100vh;
    background-color: #0f131d;
    padding-top: 50px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

.tab {
    color: white;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    background-color: black;
    gap: 5px;
    height: 50px;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
}

.tab p {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
}
.sidebarBtn {
    display: inline-block;
    height: 35px;
    aspect-ratio: 1/1;
    transition: 0.1s ease-in;
    margin-left: 10px;
}

.sidebarBtn:hover {
    transform: scale(1.2);
}

.sidebarBtn img {
    height: 100%;
    width: 100%;
}

.tabsTrigger {
    color: white;
}

.addContainer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* background-color: red; */
}

.searchBar {
    width: 100%
}

.searchInput {
    border-radius: 40px;
    background-color: black;
    color: white;
}

.mainContents{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    margin: auto;
    border: 2px solid red ;
    flex-direction: column;
    padding: 0px 10px;
}
.currentFriends{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.currentFriendsCard{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    
    .friendAvatar{
        border-radius: 50%;
    }
    .friendDetails{
        display: flex;
        flex-direction: column;
        gap: 0;
        .friendName{
            font-size: 20px;
            color: white;
        }
        .friendUsername{
            font-size: 15px;
            color: rgb(210, 210, 210);
        }
    }
}