.main {
    min-height: 100vh;
    background-color: #0f131d;
    padding-top: 50px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

.tab {
    color: white;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    background-color: black;
    gap: 5px;
    height: 50px;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
}

.tab p {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
}
.sidebarBtn {
    display: inline-block;
    height: 35px;
    aspect-ratio: 1/1;
    transition: 0.1s ease-in;
    margin-left: 10px;
}

.sidebarBtn:hover {
    transform: scale(1.2);
}

.sidebarBtn img {
    height: 100%;
    width: 100%;
    
}

.tabsTrigger {
    color: white;
}

.addContainer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* background-color: red; */
}

.searchBar {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.searchInput {
    border-radius: 40px;
    background-color: black;
    color: white;
}
.clearSearchBtn{
    position: absolute;
    top: 50%;
    /* bottom: -50%; */
    transform: translateY(-50%);
    right: 2px ;
    height: 30px;
    width: 35px;
    background-color: rgb(22, 22, 22);
    border-radius: 10px 40px 40px 10px;
}
.clearSearchBtn:hover{
    background-color: rgb(41, 41, 41);
}

.mainContents{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    margin: auto;
    /* border: 2px solid red ; */
    flex-direction: column;
    padding: 0px 10px;
}
.friendsContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.currentFriendsCard{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.2s;
    .friendAvatar{
        border-radius: 50%;
    }
    .friendDetails{
        display: flex;
        flex-direction: column;
        gap: 0;
        .friendName{
            font-size: 20px;
            color: white;
        }
        .friendUsername{
            font-size: 15px;
            color: rgb(210, 210, 210);
        }
    }
}
.currentFriendsCard:hover{
    background-color: rgb(27, 27, 27);
}
.currentFriendsCard:active{
    transform: scale(0.98);
}
.friendsListSkeletonContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.friendsListSkeleton{
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    align-items: center;
}
.friendsAvatarSkeleton{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.popoverMain{
    display: flex;
    flex-direction: column;
    height: 300px;
    .popoverProfilePic{
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    .popoverProfilePic img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    .popoverFriendDetails{
        display: flex;
        flex-direction: column;
    }
    .popoverFriendDetails h2{
        font-size: 25px;
        line-height: 20px;
    }
    .popoverFriendDetails h3{
        color: rgb(187, 187, 187);
    }
    .popoverFriendDetails p{
        margin-top: 15px;
    }

}

@media (max-width: 520px) {
    .mainContents{
        width: 100%;
    }
}