.main {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    align-items: center;
    background-color: #030a18;
}

.tab {
    display: flex;
    width: 100%;
    /* height: 30px; */
    align-items: center;
    justify-content: left;
    padding-left: 20px;
}

.tabNameDiv {
    display: flex;
    gap: 10px;
    padding: 10px;
}
.mainContent{
    padding: 30px;
    width: 70%;
    border-radius: 10px;
    background-color:#11141c ;
}
.photosSection{
    position: relative;
    width: 100%;
    margin-bottom: 120px;
}
.banner{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
.banner img{
    object-fit: cover;
}
.pfp{
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    left: 5%;
    /* border: 7px solid #11141c; */
    transform: translateY(50%);
    height: 170px;
    width: 170px;
}

.detailsHolder{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.detailCard input,.detailCard textarea{
    background-color: rgb(35, 35, 35);
    color: white;
    border-radius: 5px;
}
.detailCard textarea{
    padding: 5px 10px;
}
.detailCard{
    display: flex;
    flex-direction: column;
    gap: 5px;
}