@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  border: none;
  color: white;
}

body {
  font-family: Poppins, Roboto, Arial;
  /* color: white; */
  /* background-color: black; */
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
}

.main {
  width: 100%;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  /* 
  color1: main background
  color2: secondary background, for sidebar, n shi
  color3: main content (high pop)
  color4: content (pop after color3)
   */
  .nebula {
    --color1: #000957;
    --color2: #344CB7;
    --color3: #577BC1;
    --color4: #FFEB00;
  }

  .coolBlue {
    --color1: #161833;
    --color2: #344CB7;
    --color3: #577BC1;
    --color4: #FFEB00;
    --nebulaLogo: var(--color2);
    --homepageBackground: var(--color1);
    --tabBar: var(--color2);
    --newDocIcon: var(--color4);
    --newDocButton: var(--color2);
    --recentDocBox: var(--color2);
    --recentDocBackground: var(--color1);
    --noteCard: var(--color2);
    --noteSnippet: var(--color1);
    --saveBtn:var(--color4);
    --shareBtn:var(--color2);
    --shareDialogBox:var(--color1);
    --sharePersonCard:var(--color2);
    --shareCheckCircle:var(--color4);
    --settingsCard:var(--color1);
    --friendReqPopover:var(--color2);
    --variableText:white;
    --friendPopover:var(--color1);

  }

  .mclaren {
    --color1: #252A34;
    --color2: #171b23;
    --color3: #08D9D6;
    --color4: #FF2E63;
    --nebulaLogo: var(--color4);
    --homepageBackground: var(--color1);
    --tabBar: var(--color2);
    --newDocIcon: var(--color4);
    --newDocButton: var(--color4);
    --recentDocBox: var(--color4);
    --recentDocBackground: var(--color1);
    --noteCard: var(--color2);
    --noteSnippet: var(--color1);
    --saveBtn:var(--color4);
    --shareBtn:var(--color3);
    --shareDialogBox:var(--color2);
    --sharePersonCard:var(--color1);
    --shareCheckCircle:var(--color4);
    --settingsCard:var(--color1);
    --friendReqPopover:var(--color2);
    --variableText:white;
    --friendPopover:var(--color2);

  }

  .premiumShi {
    --color1: #222831;
    --color2: #393E46;
    --color3: #EEEEEE;
    --color4: #00ADB5;
    --nebulaLogo: var(--color4);
    --homepageBackground: var(--color1);
    --tabBar: var(--color2);
    --newDocIcon: var(--color4);
    --newDocButton: var(--color4);
    --recentDocBox: var(--color4);
    --recentDocBackground: var(--color1);
    --noteCard: var(--color2);
    --noteSnippet: var(--color1);
    --saveBtn:var(--color4);
    --shareBtn:var(--color3);
    --shareDialogBox:var(--color2);
    --sharePersonCard:var(--color1);
    --shareCheckCircle:var(--color4);
    --settingsCard:var(--color1);
    --friendReqPopover:var(--color2);
    --variableText:white;
    --friendPopover:var(--color1);
  }

  .lightSeaGreen {
    --color1: #E3FDFD;
    --color2: #CBF1F5;
    --color3: #A6E3E9;
    --color4: #71C9CE;
    --nebulaLogo: var(--color4);
    --homepageBackground: var(--color1);
    --tabBar: var(--color2);
    --newDocIcon: var(--color4);
    --newDocButton: var(--color4);
    --recentDocBox: var(--color4);
    --recentDocBackground: var(--color1);
    --noteCard: var(--color2);
    --noteSnippet: var(--color1);
    --saveBtn:var(--color4);
    --shareBtn:var(--color3);
    --shareDialogBox:var(--color2);
    --sharePersonCard:var(--color1);
    --shareCheckCircle:var(--color4);
    --settingsCard:var(--color1);
    --friendReqPopover:var(--color2);
    --variableText:black;
    --friendPopover:var(--color2);

  }
}