.main {
    min-height: 100vh;
    position: relative;
    /* background-color: purple; */
}

.cloudGif {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    filter: blur(5px);
}

.tab {
    background-color: #83838470;
    display: flex;
    margin: 10px;
    /* margin-top: 10px; */
    height: 40px;
    align-items: center;
    padding: 0px 3px;
    border-radius: 20px;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0px;
    z-index: 3;

}

.tab img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.sectionTags {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.sectionTags a {
    font-weight: 500;
    transition: all 0.2s;
}

.sectionTags a:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.bigAghLogo {
    /* position: absolute; */
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-40px);
    /* border: 3px solid red; */
}

.bigAghLogo h1 {
    font-size: 60px;
    letter-spacing: 40px;
    font-weight: 500;
    animation: bigLogoAnimation 1s ease-in;
    color: white;

}

@keyframes bigLogoAnimation {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
}

.getStarted {
    background-color: #373cc6;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    border-radius: 15px;
    position: absolute;
    bottom: 100px;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    gap: 5px;
    /* z-index: 2; */
}

.getStarted:hover {
    background-color: #7139e9;
    transform: scale(0.95);
}

.sectionHeading {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
    color: white;
}
.sectionGap{
    position: relative;
    /* height: calc(100vh-50px); */
    /* height: 100vh; */
    /* transform: translateY(-50px); */
}
.documentEditing {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sectionDiv {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.documentEditing p {
    margin-left: 20px;
    color: rgb(205, 205, 205);
}


.documentEditing img {
    margin-top: 20px;
    height: 600px;
    object-fit: contain;
}