.tabBar{
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    background-color: black;
    gap: 5px;
    height: 50px;
    padding-right: 15px;
    /* position: absolute; */
}
.tabBar p{
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    margin-left: 10px;
}
.saveBtn{
    transition: all 0.3s;
}
.saveBtn:active{
    transform: scale(0.9);
}


.sidebarBtn{
    display: inline-block;
    height: 35px;
    aspect-ratio: 1/1;
    transition: 0.1s ease-in;
    margin-left: 10px;
}
.sidebarBtn:hover{
    transform: scale(1.2);
}
.sidebarBtn img{
    height: 100%;
    width: 100%;
}
.editorSection{
    padding: 0px 10px;
}
