body{
    background-color: black;
}
.ql-toolbar {
    
    /* background-color: blue; */
    display: flex;
    border-radius: 20px;
    /* width: fit-content; */
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    gap: 15px;
    z-index: 3;
    transform: translateX(-25%);
    margin-top: 10px;



    .ql-stroke {
        stroke: white;
    }

    .ql-fill {
        fill: white;
    }

    .ql-picker {
        fill: white;
        color: white;
    }

    .ql-picker-options {
        background-color: black;
    }


}

.ql-toolbar.ql-snow {
    border: none;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 45px;
    /* background-color: rgb(0, 255, 81); */
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
    border: none;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    border: none;
}

.ql-container.ql-snow {
    /* margin: 0px; */
    border: none;
}

.ql-toolbar.ql-snow .ql-formats {
    /* background-color: #1b1c1d; */
    background-color:#171717;
    padding: 5px;
    border-radius: 5px;
    height: fit-content;
    margin-bottom: 5px;
    margin-right: 0px;
    display: flex;
    /* gap: 5px; */
    border: 1px solid rgba(255, 255, 255, 0.47);
}

button {
    transition: all 0.3s;
}

.ql-active {
    background-color: #28292b !important;
    border-radius: 4px;
}

.ql-toolbar::after {
    height: 2px;
    border-radius: 5px;
    width: 38em;
    background-color: rgba(255, 255, 255, 0.47);
    display: block;
    position: absolute;
    bottom: -5px;
    max-width: 70%;
}


.ql-undo::before {
    content: "";
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e8eaed'><path d='M280-200v-80h284q63 0 109.5-40T720-420q0-60-46.5-100T564-560H312l104 104-56 56-200-200 200-200 56 56-104 104h252q97 0 166.5 63T800-420q0 94-69.5 157T564-200H280Z'/></svg>");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.ql-redo::before {
    content: "";
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e8eaed'><path d='M396-200q-97 0-166.5-63T160-420q0-94 69.5-157T396-640h252L544-744l56-56 200 200-200 200-56-56 104-104H396q-63 0-109.5 40T240-420q0 60 46.5 100T396-280h284v80H396Z'/></svg>");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.ql-redo:hover,
.ql-undo:hover {
    transform: scale(1.1);
}

#container {
    font-size: 20px;
    color: white;
    /* background-color: rgb(220, 112, 112); */
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
    /* margin-top: 50px; */

}

.ql-editor {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #151719;
    width: 99%;
    border-radius: 20px;
    min-height: 90vh;
    padding: 20px;
    height: 100%;
}


body {
    background-color: black;
}

.ql-container.ql-snow {
    img {
        width: 30%;
        margin-left: 10px;
    }
}