.weatherContainer h1{
    font-weight: 400;
    font-size: 20px;
}
.weatherContainer{
    /* border: 2px solid white; */
    padding-right: 20px;
    overflow: hidden;
    position: relative;
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.weatherCardContainer{
    display: flex;
    max-width: 1000px;
    margin-top: 5px;
    margin-left: 20px;
    gap: 20px;
    overflow:hidden;
    padding: 5px 0px;
    margin-right: 20px;
    flex:1;
    z-index: 1;
    margin-bottom: 2em;
}

.weatherCardContainer .loadingData{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherCardContainer .scrollButtonLeft, .weatherCardContainer .scrollButtonRight{
    position: absolute;
    top: 50%;
    z-index: 2;
    background-color: black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 10px;
    transition: 0.2s;
}
.weatherCardContainer .scrollButtonLeft:hover, .weatherCardContainer .scrollButtonRight:hover{
    transform: scale(0.9);
}
.weatherCardContainer .scrollButtonLeft:active, .weatherCardContainer .scrollButtonRight:active{
    background-color: rgba(30, 30, 30, 0.456);
}

.weatherCardContainer .scrollButtonLeft img, .weatherCardContainer .scrollButtonRight img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.weatherCardContainer .scrollButtonLeft{
    left: 0;
}
.weatherCardContainer .scrollButtonRight{
    right: 0;
}
.weatherCardContainer li{
    list-style: none;
}

.weatherCard{
    display: flex;
    flex-direction: column;
    align-items:center;
    transition: 0.1s linear;
    z-index: 1;
    /* margin:5px 0px; */
}
.weatherCard:hover{
    transform: scale(1.1);
}
.weatherTime{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.626);
    font-weight: 400;

}
.weatherIcon{
    /* border: 2px solid white; */
    height:70px;
    aspect-ratio:1/1;
    margin-bottom: 10px;
}

.weatherIcon img{
    height: 140%;
    width: 140%;
    object-fit: cover; 
    object-position: center;
}

.weatherDesc{
    color:gray;
}
.temperature{
    font-size:25px;
    font-weight: 200;
}