.tweetCard {
    display: flex;
    flex-direction: column;
    background-color: #191830;
    background-color: #15202c;
    width: 380px;
    height: 260px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s;
    /* position: relative; */
    border: 2px solid #15202c;
}

.tweetCard:hover {
    background-color: black;
    border: 2 px solid white;
}

.tweetCard h1 {
    font-weight: 400;
    font-size: 20px;
    color: white;
    padding-left: 10px;
}

.tweetCard p {
    font-weight: 600;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.69);
    overflow: hidden;
}

.tweetContent {
    margin-top: 10px;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.tweetContent p {
    font-weight: 300;
    color: white;
    font-size: 17px;
}