.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    padding: 20px;
    background: rgb(29, 32, 49);
    background: linear-gradient(162deg, rgba(29, 32, 49, 1) 9%, rgba(29, 32, 49, 1) 9%, rgba(0, 0, 0, 1) 100%);
    color: white;
}

.header {
    margin-top: 40px;
    font-size: 30px;
    font-weight: 500;
}

.roomCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-top: 50px;
    padding: 10px;
    
}

.createRoom, .joinRoom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #273046;
    padding: 20px;
    width: 300px;
    border-radius: 15px;
}

.createRoom h1, .joinRoom h1 {
    font-size: 25px;
    font-weight: 500;
}

.createRoom p, .joinRoom p {
    text-align: center;
    opacity: 0.8;
}

.createRoom button, .joinRoom button {
    width: 100%;
    background: rgb(133, 74, 205);
    background: linear-gradient(115deg, rgba(133, 74, 205, 1) 9%, rgba(51, 108, 205, 1) 100%);
    padding: 20px;
    font-size: 15px;
}



.icon {
    height: 70px;
    width: 70px;
    background: rgb(97, 9, 171);
    background: linear-gradient(158deg, rgba(97, 9, 171, 1) 9%, rgba(25, 45, 130, 1) 100%);
    padding: 10px;
    border-radius: 50%;
}
.joinRoom .icon{
    padding: 17px;
}

.joinDialogBox{
    background-color: black;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px 60px;
    width: fit-content;
    gap: 10px;
}
.joinDialogBox h1{
    font-size: 20px;
    font-weight: 500;
}
.otpSlot{
    border: 1px solid rgba(255, 255, 255, 0.759);
    outline: none;
    background-color: #171717;
    color: white;
    font-size: 20px;
    padding: 20px;
}
.otpSlot:focus{
    outline: none;
}

.buttonSec{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.cancelBtn, .joinBtn{
    width: 60px;
}
.cancelBtn{
    background-color: white;
    color: black;
}
.joinBtn{
    background-color: aquamarine;
    color: black;
}


.notFoundMain{
    display: flex;
    background-color: #273046;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
.notFoundMain img{
    width: 300px;
    object-fit: contain;
}
.notFoundMain h1{
    
    color: white;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}
.notFoundMain button{
    padding: 20px;
    background-color: black;
    border-radius: 5px;
}



@media (max-width:500px) {
    .header{
        margin-top: 10px;
    }
    .main{
        height: 100vh;
    }
    .roomCards{
        margin-top: 5px;
    }
    .joinDialogBox{
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }
    .notFoundMain img{
        width: 60vw;
    }
}